<a href="https://colab.research.google.com/github/Pankhuri33/Task1_Elevate/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# Simulate raw dataset (as used in the task)
raw_data = {
    "ID": np.arange(2001, 2011),
    "Year of Birth": [1984, 1995, 1976, 1980, None, 1989, 1991, 1970, 1982, 1968],
    "Education": ["PhD", "Graduation", "Master", "Graduation", "Basic", "PhD", "Graduation", "Master", "PhD", "Graduation"],
    "Marital Status": ["Single", "Married", "Together", "Divorced", "Widow", "Single", "Married", "Divorced", "Single", "Married"],
    "Income ": [67000, 72000, 45000, None, 39000, 61000, None, 58000, 60000, 50000],
    "Kidhome": [1, 0, 0, 1, 1, 0, 0, 1, 1, 0],
    "Teenhome": [0, 1, 0, 1, 0, 1, 1, 0, 1, 0],
    "Dt_Customer": ["2013-04-09", "2014-08-03", "2012-11-15", "2014-06-29", "2013-09-10",
                    "2012-10-21", "2013-01-05", "2014-03-15", "2013-06-01", "2012-12-25"],
    "Gender": ["FEMALE", "Male", "female", "MALE", "female", "male", "Female", "MALE", "female", "FEMALE"],
    "Country": ["India", "USA", "india", "usa", "Canada", "canada", "India", "USA", "canada", "India"]
}


df = pd.DataFrame(raw_data)


df = pd.concat([df, df.iloc[[2]]], ignore_index=True)

# ---------- DATA CLEANING ----------

# 1. Handle Missing Values
df['Income '] = df['Income '].fillna(df['Income '].median())
df['Year of Birth'] = df['Year of Birth'].fillna(df['Year of Birth'].median())

# 2. Remove Duplicates
df = df.drop_duplicates()

# 3. Standardize Text
df['Gender'] = df['Gender'].str.lower().str.strip()
df['Country'] = df['Country'].str.title().str.strip()

# 4. Convert Dates
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], errors='coerce')

# 5. Rename Columns
df.columns = [col.strip().lower().replace(" ", "_") for col in df.columns]

# 6. Fix Data Types
df['year_of_birth'] = df['year_of_birth'].astype(int)
df['income'] = df['income'].astype(int)

# ---------- SAVE CLEANED DATA ----------
df.to_csv("task1_cleaned_data.csv", index=False)

# Optional: View result
print("✅ Cleaning complete. First few rows:")
print(df.head())

✅ Cleaning complete. First few rows:
     id  year_of_birth   education marital_status  income  kidhome  teenhome  \
0  2001           1984         PhD         Single   67000        1         0
1  2002           1995  Graduation        Married   72000        0         1
2  2003           1976      Master       Together   45000        0         0
3  2004           1980  Graduation       Divorced   58000        1         1
4  2005           1981       Basic          Widow   39000        1         0

  dt_customer  gender country
0  2013-04-09  female   India
1  2014-08-03    male     Usa
2  2012-11-15  female   India
3  2014-06-29    male     Usa
4  2013-09-10  female  Canada